body {
    font-family: "Inter", sans-serif;
    background: #FFF;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}


.container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\ */

/* /\/\/\/\/\/\ TEAM /\/\/\/\/\/\/\ */

.team {
    padding-top: 80px;
    padding-bottom: 80px;
}

.team-title {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    max-width: 129px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.team-text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    max-width: 886px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.team-item {
    display: block;
    border-radius: 15px;
    background: linear-gradient(313deg, rgba(0, 197, 235, 0.50) -0.2%, rgba(181, 68, 254, 0.50) 112.66%), #06071B;
    backdrop-filter: blur(17.5px);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 14px;
}

.team-list {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.team-picture {
    border-radius: 10px;
}

.team-name {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 20px;
}

.team-position {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71em;
    margin-top: 12px;
    padding-bottom: 12px;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\ */